.banner {
  height: 400px;
  width: 100%;
}

.logo {
  width: 80px;
}

.nav1 {
  margin-left: 40px;
}

.nav2 {
  margin-left: 30px;
}

.nav3 {
  margin-right: 30px;
}

.container {
  margin-top: 100px;
}

.img {
  height: 308px;
  width: 539px;
}

h3 {
  margin-top: 70px;
}

.row {
  margin-bottom: 70px;
}

h3 {
  color: #6e4f2f;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #a7643b;
}
