* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
}
img {
  width: 80px;
}

.nav1 {
  margin-left: 40px;
}

.nav2 {
  margin-left: 30px;
}

.nav3 {
  margin-right: 30px;
}

.first {
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.f {
  margin-bottom: 30px;
}

.award {
  width: 100%;
}

.learn {
  text-decoration: none;
  color: gray;
}

.i1 {
  height: 320px;
  width: 50%;
  background-image: url(../Images/rooms.jpg);
  background-repeat: no-repeat;
}

.i3 {
  height: 300px;
}

footer {
  background-color: #a7643b;
  height: 50px;
  text-align: center;
}

.i2 {
  height: 290px;
  width: 40%;
  background-image: url(../Images/dine.jpg);
  background-repeat: no-repeat;
  padding-left: 70px;
}

.rooms {
  margin-left: 150px;
  margin-top: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.common .inner-bg {
  background-image: url('../Images/dine-banner.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-color: #6e4f2f;
}

.main {
  display: block;
  padding: 100px 0px;
}

.hotel-pg .room-thumb {
  margin-bottom: 80px;
}

.room-thumb .leaf {
  background-position: -150px 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-holder {
  position: relative;
  overflow: hidden;
}

.image-holder img {
  transition-duration: 1s;
  width: 100%;
}

img {
  max-width: 100%;
}

.hotel-pg .room-thumb .text-holder {
  padding-left: 50px;
}

.room-thumb .text-holder h2.title {
  font-size: 30px;
  color: #6e4f2f;
  margin-top: -10px;
}

.common h2.title {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #a7643b;
}

.hotel-pg .text-holder {
  padding: 50px 0px;
  font-size: 15px;
  text-align: justify;
}

/* .a {
  color: white;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 5px;
} */
